@import "tailwindcss";

:root {
  --foreground: #fafafa;
  --background: #09090b;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: ui-sans-serif, system-ui, sans-serif;
}
